
body {
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;    
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 30px;
  font-weight: bold;
  font-family: serif;
}

h2{
    font-size: 18px;
    font-family: serif;
}

#main-title {
    background-color: lightblue;
    width: 100%;
}

#Visualisation,
#age-distribution {
  margin: 20px 0;
}


#meta-data {
  color: gray;
  align-self: flex-start;   
  text-align: left;         
  margin-left: 50px;        
  width: 100%;
  font-size: 0.7em;  
  line-height: 1.4;
}


#author{
  align-self: flex-start;
  margin-top: 40px;
  font-style: italic;
}

hr {
    width: 100%;
    border: 0.5px solid gray;
}

#article{
    align-self: flex-start;   
  text-align: left;         
  margin-left: 250px;        
  width: 100%;
  line-height: 1.4;
  margin-bottom: 100px;
}

#end{
  align-self: flex-end;
}


#paragraph {
    line-height: 0.6;
    padding-left: 1%;
}

#keyword {
    font-weight: bold;
}
